# nanobox sshd_config
 
Port                    22 
AuthorizedKeysFile      .ssh/authorized_keys 
PrintMotd               yes 
UsePrivilegeSeparation  sandbox 
PasswordAuthentication  yes 
# AuthorizedKeysScript    /opt/local/sbin/ssh_kernel_auth 
UseDNS                  no
